@model ProjectBoost.Models.ViewModels.UserModels.UserDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenFinantialHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenFinantialHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restricted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restricted)
        </dd>
        <dt class="col-sm-2">
            Projects
        </dt>
        <dd class="col-sm-10">
            @foreach(var project in Model.Projects) {
                <a href="~/Projects/Details/@project.ID.ToString()">@project.Name</a>
                <br />
            }
        </dd>
        @{string userID = User.FindFirst(claim => claim.Type == "ID")?.Value;}
        @if(User.IsInRole("admin") || userID == Model.ID.ToString() || Model.OpenFinantialHistory) {
            <dt class="col-sm-2">
                Donations
            </dt>
            <dd class="col-sm-10">
                @foreach(var payment in Model.Payments) {
                    <p class="form-text">
                        project: <a asp-action="Details" asp-controller="Projects" asp-route-id="@payment.ProjectID">@payment.Project.Name</a>
                    </p>
                    <p class="form-text">amount: @payment.Amount</p>
                    <br />
                }
            </dd>
        }
    </dl>
</div>
<div>
    @if(User.IsInRole("admin") || userID == Model.ID.ToString()) {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> <lol>|</lol>
    }
    <a asp-action="Index">Back to List</a>
</div>
