@model ProjectBoost.Models.ViewModels.UserModels.UserDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenFinantialHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenFinantialHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restricted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restricted)
        </dd>
        <dt class="col-sm-2">
            Projects
        </dt>
        <dd class="col-sm-10">
            @foreach(var project in Model.Projects) {
                <a href="~/Projects/Details/@project.ID.ToString()">@project.Name</a>
                <br />
            }
        </dd>
        <dt class="col-sm-2">
            Donations
        </dt>
        <dd class="col-sm-10">
            @foreach(var payment in Model.Payments) {
                <p>project: @payment.Project.Name</p>
                <p>amount: @payment.Amount</p>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
