@model IEnumerable<ProjectBoost.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Пользователи</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Публичная история платежей
            </th>
            <th>
                Ограничен
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(User.IsInRole("admin")) {
            @foreach(var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nickname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpenFinantialHistory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Restricted)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a> 
                        | <a asp-action="Details" asp-route-id="@item.ID">Данные</a> 
                        @*| <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>*@
                    </td>
                </tr>
            }
        } else {
            User item = Model.Where(user => user.Nickname == User.Identity.Name).First();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenFinantialHistory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restricted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a>
                    | <a asp-action="Details" asp-route-id="@item.ID">Данные</a>
                    @*| <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
