@model ProjectBoost.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Demo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Demo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequiredAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceivedAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeadLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Nickname)
        </dd>
        @{string userID = User.FindFirst(claim => claim.Type == "ID")?.Value;}
        @if(Model.User.ID.ToString() == userID || User.IsInRole("admin")) {
            <dt class="col-sm-2">
                Donations
            </dt>
            <dd class="col-sm-10">
                @foreach(var payment in Model.Payments) {
                    <p class="form-text">
                        from user: <a asp-action="Details" asp-controller="Users" asp-route-id="@payment.UserID">@payment.User.Nickname</a>
                    </p>
                    <p class="form-text">amount: @payment.Amount</p>
                    <br />
                }
            </dd>
            <dt class="col-sm-2">
                Complaints
            </dt>
            <dd class="col-sm-10">
                @foreach(var complaint in Model.Complaints) {
                    <p class="form-text">
                        from user: <a asp-action="Details" asp-controller="Users" asp-route-id="@complaint.UserID">from @complaint.User.Nickname</a>
                    </p>
                    <p class="form-text">@complaint.Text</p>
                    <br />
                }
            </dd>
        }

    </dl>
</div>
<div>
    @{string ID = User.FindFirst(claim => claim.Type == "ID")?.Value;}
    @if(User.Identity.IsAuthenticated && !User.IsInRole("admin")) {
        <a asp-controller="Users" asp-action="Donate" asp-route-id="@Model.ID">Donate</a>
        <br />
    }
    @if(User.Identity.IsAuthenticated && ID != Model.UserID.ToString()) {
        <a asp-controller="Users" asp-action="Complain" asp-route-id="@Model.ID">Complain</a>
        <br />
    }
    @if(ID == Model.UserID.ToString() || User.IsInRole("admin")) {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit </a>
        <br />
    }
    <a asp-action="Index">Back to List</a>
</div>
