@model IEnumerable<ProjectBoost.Models.Project>

@{
    ViewData["Title"] = "Index";
}


<h1>Проекты</h1>
@if(!User.IsInRole("admin")) { 
    <p>
        <a asp-action="Create">Создать новый проект</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Название 
            </th>
            <th>
                Необходимая сумма
            </th>
            <th>
                Полученная сумма
            </th>
            <th>
                Крайний срок
            </th>
            <th>
                Заблокирован
            </th>
            <th>
                Создатель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blocked)
            </td>
            <td>
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.User.ID">
                    @Html.DisplayFor(modelItem => item.User.Nickname)
                </a>
            </td>
            <td>
                @{string ID = User.FindFirst(claim => claim.Type == "ID")?.Value;}
                @if(ID == item.UserID.ToString()) {
                    <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a>
                    <lol> | </lol>
                }
                <a asp-action="Details" asp-route-id="@item.ID">Подробнее</a>
                @*@if(ID == item.UserID.ToString()) {
                    <lol> | </lol>
                    <a asp-action="Delete" asp-route-id="@item.ID"> Delete</a>
                }*@
            </td>
        </tr>
}
    </tbody>
</table>
